.post-1 {
    background-color: rgba(132, 7, 5, 0.5);
}

.post-2 {
    background-color:rgba(68, 68, 68, 0.5);
}

.post-3 {
    background-color: rgba(132, 7, 5, 0.5);
}

.post-4 {
    background-color:rgba(68, 68, 68, 0.5);
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.topnav.responsive button {
    padding-left: 20%;
}

.content article, .content article:nth-child(even) {
    flex-direction: column;
}

.img-wrap img {
    width: 50%;
}

.img-wrap {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.post-wrap .info p {
    font-size: 110%;
    line-height: 130%;
}

.img-wrap .watch-title {
    padding: 10px 0 10px 25px;
}

.watch-title h2{
    font-size: 1.2rem;
}

.post-wrap .info {
    padding: 30px;
}

.sidebar {
    width: 100%;
}

.sidebar img {
    width: 100%;
}

.sidebar .news-text {
    background-color: white;
    color: #000;
    padding: 3%; 
}

.sidebar .news-text h3 {
    margin-top: 3%;
    line-height: 150%;
    color: black;
    font-weight: bold;
    font-size: 120%;
}

.sidebar .second-news {
    margin-top: 5%;
}

.sidebar .third-news {
    margin-top: 5%;
}

.price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px 10px 5px;
}

.content article:nth-child(even) .price {
    flex-direction: row-reverse;
}

.price p {
    font-size: 1.3rem;
    color: rgba(211, 156, 47, 0.5);
}

.content article:nth-child(odd) .price button {
    font-size: 1.2rem;
    color: black;
    background-color: rgba(68, 68, 68, 0.8);
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.content article:nth-child(odd) .price button:hover {
    background-color: rgba(68, 68, 68, 0.4);
}

.content article:nth-child(even) .price button {
    font-size: 1.2rem;
    color: black;
    background-color: rgba(132, 7, 5, 0.8);
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.content article:nth-child(even) .price button:hover {
    background-color: rgba(132, 7, 5, 0.4);
}

.modal-body h5,
.modal-body p {
    color: black;
}

@media (min-width: 480px) {

    .content {
        width: 70%;
      }
    
    .sidebar {
        width: 30%;
        margin-left: 5px;
    }

    main,
    .content article {
    display: flex;
    }

    .content article {
        align-items: center;
    }

    .sidebar article .news-text h3 {
        font-size: 100%;
    }

}


@media (min-width: 768px) {
    nav ul li:hover {
        background: rgba(82, 73, 73, 0.5);
    }

    .converter select {
        background-color: rgba(68, 68, 68, 0.5);
        padding: 5px;
        color: white
    }

    ul li form {
        display: inline;
    }

    .content img {
        width: auto;
    }

    .content {
        margin-right: 20px;
        width: 70%;
    }

    .img-wrap{
        width: 45%;
        margin: 10px 0 0 10px;
    }

    .post-wrap {
        width: 55%;
        margin-right: 5%;
    }
    
    .post-wrap .info p {
        font-size: 90%;
        line-height: 130%;
    }

    .img-wrap img {
        width: 70%;
    }

    .img-wrap {
        flex-direction: column;
    }
    

    .content article:nth-child(even) {
        flex-direction: row-reverse;
        text-align: right;
    }

    .content article:nth-child(odd) {
        flex-direction: row;
        text-align: left;
    }

    .sidebar article .news-text h3 {
        font-size: 130%;
        padding: 5px;
    }

    .sidebar .currency .converter .data {
        flex-direction: row;
    }

    .price {
        justify-content: space-between;
        margin-left: 30px;
        align-items: center;
        padding: 0 5px 10px 5px;
    }

    .content article:nth-child(odd) .price button {
        font-size: 1.5rem;
        padding: 10px 55px;
    }

    .content article:nth-child(even) .price button {
        font-size: 1.5rem;
        padding: 10px 55px;
    }

}

@media (min-width: 830px) {
    .post-wrap .info p {
        font-size: 125%;
        line-height: 130%;
    }
    
}


